body{
    background-color: black;
    color:yellow;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow:hidden
}

#main-header{
    background-color: yellow;
    color: black;
}

#navbar{
    background-color:white ;
    color: gold;
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}


#showcase{
    background-image: url(valorant\ radiant.png);
    background-position: center right;
    height: 300px;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1{
    color:yellow;
    font-size: 28px;
    padding-top: 30px;
    line-height: 1.2em;
}

#main{
    float: left;
    width: 70%;
    padding:0 30px;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    width: 30%;
    background: #333;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

#main-footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    width:100%;
}

@media(max-width:600px){
    #main{
        width: 100%;
        float: none;
    }

    #sidebar{
        width: 100%;
        float: none;
    }
}